<div class="container">
  <h1>This is the fruit table</h1>
  <div class="d-flex justify-content-between">
    <div>
      <div class="input-group">
        <input class="form-control"
               placeholder="yyyy-mm-dd"
               name="dp"
               [(ngModel)]="model" (ngModelChange)="updateBasedOnDate($event)"
               ngbDatepicker
               #d="ngbDatepicker" />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        <span style="text-decoration:underline; cursor:pointer; padding:10px;" (click)="reset()"> Clear</span>
      </div>
    </div>
    <div>
      <span class="p-input-icon-left">
        <i class="bi bi-search"></i>
        <input type="text" pInputText [(ngModel)]="searchValue" (ngModelChange)="search($event)"/>
        <!--<i class="bi bi-search"></i>
        <span style="text-decoration:underline; cursor:pointer; padding:10px;" (click)="reset()"> Clear</span>-->
        <i class="bi bi-x-circle" style="cursor:pointer;" (click)="reset()" pTooltip="Clear"></i>
      </span>
    </div>
  </div>
  <hr />


  <div class="card">
    <p-table [value]="filteredFruits"
             styleClass="p-datatable-striped"
             [paginator]="true"
             [rows]="5"
             [showCurrentPageReport]="true"
             [tableStyle]="{ 'min-width': '50rem' }"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="caption">
        <div class="flex">
          <button type="button" pButton pRipple (click)="exportExcel()" class="p-button-success mr-2" pTooltip="export to excel" tooltipPosition="bottom" style="border-radius:20%;"><i class="bi bi-box-arrow-down"></i></button>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Weight</th>
          <th>Color</th>
          <th>Price</th>
          <th>Date Picked</th>
          <th>Seed</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-fruit>
        <tr>
          <td>{{ fruit.weight }}</td>
          <td> <span style="display:block; border:1px solid black; border-radius:5px; color:black; text-align:center;" [ngStyle]="{'background-color': fruit.color}">{{ fruit.color }}</span></td>
          <td>{{ fruit.price | currency}}</td>
          <td>{{ fruit.datePicked | date: 'shortDate' }}</td>
          <td>
            @if(fruit.hasSeed){
            <i class="bi bi-check-circle" style="color:forestgreen;"></i>
            }@else{
            <i class="bi bi-x-circle" style="color:red;"></i>
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>





</div>
